// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";
@import "../assets/css/syntax.css";
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Style Blog Font */
b {
    font-family: 'NEXON Lv1 Gothic OTF Bold'; 
}
h1 {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}
h2 {
    font-family: 'NEXON Lv1 Gothic OTF';
    margin-top: 50px;
}
h3, h4, h5, h6, p, dl {
    font-family: 'NEXON Lv1 Gothic OTF';
}
bold {
    color:#af270f;
    font-weight: bold;
}
p {
    font-size: 20px;
}
.hidden {
    display:none;
}
.selected {
    background-color: #008eaa;
    color: white
}

.btn-secondary{
    border-radius: 10px;
    border-color: transparent;
    padding: 0px 10px 0px 10px;
}

.btn-light{
    border-radius: 10px;
    padding: 10px;
    padding: 0px 10px 0px 10px;
}

figure {
    margin: 0;
    padding: 0;
}

.highlight {
    margin: 1em 0;
}

pre.highlight {
    padding: 2em;
}

.lineno {
    padding: .5em;
}

.gutter, .lineno {
    background-color: #CAEBF2;
}

td.code {
    padding: 1em .5em;
}

pre {
    overflow-y: scroll;
    word-wrap: normal;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'NEXON Lv1 Gothic OTF Light';
    background-color:#122b3b;
    color: white;
    padding: 3px 3px 3px 3px;
    margin: 2px 2px 2px 2px;
  }

code {
  border-radius: 5px;
  font-size: 16px;
  font-family: 'NEXON Lv1 Gothic OTF';
  background-color: #122b3b;
  color: white;
  padding: 3px 3px 3px 3px;
  margin: 2px 2px 2px 2px;
}

br {
    margin-bottom: 15px;
}
ul, ol {
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 20px;
    margin-bottom: 20px;
}
li {
    margin-bottom: 10px;
}
br {
    margin: 10px;
}
blockquote, figure {
    font-family: 'NEXON Lv1 Gothic OTF Light';
}

