// Import Core Clean Blog SCSS
@import "../assets/css/syntax-one-dark.css";
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

/* Style Blog Font */
h3, h4, h5, h6, p, h1, h2, pre, ul, ol, dl {
    margin-bottom: 25px;
    font-family: 'Noto Sans KR', sans-serif;
}

 blockquote, figure {
    margin-bottom: 15px;
    font-family: 'Jua', sans-serif;
}

