// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";
@import "../assets/css/syntax.css";
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Style Blog Font */
b {
    font-family: 'NEXON Lv1 Gothic OTF Bold'; 
}
h1 {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}
h2 {
    font-family: 'NEXON Lv1 Gothic OTF';
}
h3, h4, h5, h6, p, pre, ol, dl {
    font-family: 'NEXON Lv1 Gothic OTF';
}
p {
    font-size: 20px;
    padding-bottom: 15px;
}
.hidden {
    display:none;
}
.selected {
    background-color: #008eaa;
    color: white
}

.btn-secondary{
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
}

.btn-light{
    border-radius: 10px;
    padding: 10px;
}

pre, code {
    font-family: 'Roboto Mono', monospace;
    background-color: #fcfcff;
    margin: 0;
}

pre {
overflow-y: scroll;
word-wrap: normal;
}

figure {
margin: 0;
padding: 0;
}

.highlight {
margin: 1em 0;
}

pre.highlight {
padding: 1em;
}

.lineno {
padding: .5em;
}

.gutter, .lineno {
background-color: #CAEBF2;
}

td.code {
padding: 1em .5em;
}

code {
  border: none;
  font-size: 18px;
  font-style: italic;
  font-family: 'NEXON Lv1 Gothic OTF Light';
  background-color: transparent;
  padding: 5px;
  margin: 10px 10px 10px;
}

br {
    margin-bottom: 15px;
}
ul, ol {
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 20px;
}
li {
    margin-bottom: 10px;
}
br {
    margin: 10px;
}
blockquote, figure {
    font-family: 'NEXON Lv1 Gothic OTF';
}

